@font-face {
  font-family: 'Trispace';
  src: url('Roboto,Roboto_Mono,Trispace/Trispace/Trispace-VariableFont_wdth,wght.ttf')
    format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Roboto-Mono';
  src: url('Roboto,Roboto_Mono,Trispace/Roboto_Mono/static/RobotoMono-Bold.ttf')
    format('truetype');
  font-weight: normal;
  font-style: normal;
}

body {
  background-color: #4a4e69;
  margin: 0;
  padding: 0;
  font-family: 'Roboto-Mono', sans-serif;
}

.banner {
  width: 100%;
  background-color: #22223be1;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 20px;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;
}

.logo-title {
  display: flex;
  align-items: center;
  margin: 20px;
}

#rocket-logo {
  width: 50px;
  height: auto;
}

#banner-name {
  font-family: 'Trispace', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  color: #f2e9e4;
  font-size: xx-large;
  margin-left: 10px;
}

#banner-link {
  text-decoration: none;
  color: #f2e9e4;
}

nav {
  display: flex;
  align-items: center;
}

nav ul {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
  color: #f2e9e4;
}

nav li {
  margin-right: 30px;
}

nav a {
  color: #f2e9e4;
  text-decoration: none;
  font-size: large;
}

nav a:hover {
  color: #9a8c98;
}

.content {
  padding-top: 160px;
  margin: 10px;
  color: #f2e9e4;
  padding-left: 20px;
}

h1 {
  font-family: 'Trispace', Impact, Haettenschweiler, 'Arial Narrow Bold',
    sans-serif;
  font-size: xx-large;
}

h2 {
  font-family: 'Trispace', Impact, Haettenschweiler, 'Arial Narrow Bold',
    sans-serif;
  font-size: large;
}

p {
  font-family: 'Roboto-Mono', Impact, Haettenschweiler, 'Arial Narrow Bold',
    sans-serif;
  color: #f2e9e4;
  font-size: medium;
}

.link-list {
  font-size: medium;
  font-family: 'Roboto-Mono', Impact, Haettenschweiler, 'Arial Narrow Bold',
    sans-serif;
  color: #f2e9e4;
}

ul a {
  text-decoration: none;
  color: #f2e9e4;
}

ul a:hover {
  color: #9a8c98;
}

@media (max-width: 768px) {
  .banner {
    flex-wrap: wrap;
    justify-content: center;
  }

  .logo-title {
    justify-content: center;
    width: 100%;
    text-align: center;
  }

  #banner-name {
    margin-left: 10px;
  }

  nav ul {
    justify-content: center;
    width: 100%;
  }

  nav li {
    margin: 0 10px;
  }
}
