@font-face {
  font-family: 'Trispace';
  src: url('Roboto,Roboto_Mono,Trispace/Trispace/Trispace-VariableFont_wdth,wght.ttf')
    format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Roboto-Mono';
  src: url('Roboto,Roboto_Mono,Trispace/Roboto_Mono/static/RobotoMono-Bold.ttf')
    format('truetype');
  font-weight: normal;
  font-style: normal;
}

body {
  background-color: #4a4e69;
  margin: 0;
  padding: 0;
  font-family: 'Roboto-Mono', sans-serif;
}

.banner {
  width: 100%;
  background-color: #22223be1;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 20px;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10;
}

.logo-title {
  display: flex;
  align-items: center;
  margin: 20px;
}

#rocket-logo {
  width: 50px;
  height: auto;
}

#banner-name {
  font-family: 'Trispace', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  color: #f2e9e4;
  font-size: xx-large;
  margin-left: 10px;
}

#banner-link {
  text-decoration: none;
  color: #f2e9e4;
}

nav {
  display: flex;
  align-items: center;
}

nav ul {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
  color: #f2e9e4;
}

nav li {
  margin-right: 30px;
}

nav a {
  color: #f2e9e4;
  text-decoration: none;
  font-size: large;
}

nav a:hover {
  color: #9a8c98;
}

.content {
  padding-top: 160px;
  margin: 20px;
  color: #f2e9e4;
  padding-left: 20px;
}

h1 {
  font-family: 'Trispace', Impact, Haettenschweiler, 'Arial Narrow Bold',
    sans-serif;
  font-size: xx-large;
  margin-left: 20px;
}

h2 {
  font-family: 'Trispace', Impact, Haettenschweiler, 'Arial Narrow Bold',
    sans-serif;
  font-size: large;
  margin-left: 20px;
}

h3 {
  margin: 20px;
}

h4 {
  margin: 20px;
  text-decoration: underline;
  color: #f2e9e4;
}

#date {
  margin-left: 20px;
}

p {
  font-family: 'Roboto-Mono', Impact, Haettenschweiler, 'Arial Narrow Bold',
    sans-serif;
  color: #f2e9e4;
  font-size: medium;
  margin: 20px;
}

img {
  margin: 20px;
}

ul a {
  text-decoration: none;
  color: #f2e9e4;
}

ul a:hover {
  color: #9a8c98;
}

#back-button {
  padding: 15px 40px;
  margin: 30px;
  background-color: #22223be1;
  border-radius: 20px;
  text-decoration: none;
}

#next-button {
  padding: 15px 40px;
  margin: 30px;
  background-color: #22223be1;
  border-radius: 20px;
  text-decoration: none;
}

button a {
  font-family: 'Trispace', 'Roboto-Mono', Impact, Haettenschweiler,
    'Arial Narrow Bold', sans-serif;
  text-decoration: none;
  color: #f2e9e4;
}

button a:hover {
  text-decoration: none;
  color: #9a8c98;
}

@media (max-width: 768px) {
  .banner {
    flex-wrap: wrap;
    justify-content: center;
  }

  .logo-title {
    justify-content: center;
    width: 100%;
    text-align: center;
  }

  #banner-name {
    margin-left: 10px;
  }

  nav ul {
    justify-content: center;
    width: 100%;
  }

  nav li {
    margin: 0 10px;
  }
}

.yellow-box {
  width: 150px;
  height: 150px;
  background-color: rgba(255, 251, 0, 0.459);
  z-index: 1000;
  position: relative;
  left: 500px;
  top: 200px;
}

.orange-box {
  width: 150px;
  height: 150px;
  background-color: rgba(255, 166, 0, 0.466);
  position: absolute;
  top: 303px;
  left: 0px;
}

.purple-box {
  width: 150px;
  height: 150px;
  background-color: rgba(162, 0, 255, 0.692);
  position: absolute;
}

.pink-box {
  width: 150px;
  height: 150px;
  background-color: rgba(255, 0, 221, 0.363);
  position: absolute;
  left: 800px;
  top: 350px;
}

.red-box {
  width: 150px;
  height: 150px;
  background-color: rgba(255, 0, 0, 0.493);
  right: 20px;
  top: 180px;
  position: fixed;
}

.bold {
  font-weight: bolder;
  text-transform: capitalize;
  color: #c9ada7;
  font-family: 'Roboto-Mono', Impact, Haettenschweiler, 'Arial Narrow Bold',
    sans-serif;
}

.questions {
  background-color: #22223be1;
  padding: 20px;
  border-radius: 20px;
  margin: 20px;
}

.link-list {
  font-size: medium;
  font-family: 'Roboto-Mono', Impact, Haettenschweiler, 'Arial Narrow Bold',
    sans-serif;
  color: #f2e9e4;
  text-decoration: none;
  list-style-type: none;
}

#blogtitle {
  font-size: 24px;
}

.technicalpart {
  text-transform: uppercase;
}

.bold {
  text-decoration: solid;
}

#listanswers {
  color: #9a8c98;
}

#purpose {
  margin-left: 20px;
}

@media (max-width: 768px) {
  .banner {
    flex-wrap: wrap;
    justify-content: center;
  }

  .logo-title {
    justify-content: center;
    width: 100%;
    text-align: center;
  }

  #banner-name {
    margin-left: 10px;
  }

  nav ul {
    justify-content: center;
    width: 100%;
  }

  nav li {
    margin: 0 10px;
  }
}
